<% if area(:modalist_title).length > 0 %>
<div class="modalist--content-header">
  <div class="wrapper">
    <h4><%= area :modalist_title %></h4>
    <% if area(:modalist_subtitle).length > 0 %>
    <p>
      <%= area :modalist_subtitle %>
    </p>
    <% end %>
  </div>
  <div class="wrapper">
    <%= area :modalist_actions %>
  </div>
</div>
<% end %>

<div class="modalist--content-body <%= modalist_class_hierarchy([params[:controller].split('/'), action_name]) %>">
  <%= yield %>
</div>
