<% if area(:modal_title).length > 0 %>
<div class="modal--header">
    <div class="wrapper">
        <h4><%= area :modal_title %></h4>
        <% if area(:modal_subtitle).length > 0 %>
        <p>
            <%= area :modal_subtitle %>
        </p>
        <% end %>
    </div>
    <div class="wrapper">
        <%= area :modal_actions %>
    </div>
</div>
<% end %>

<div class="modal--content <%= modal_class_hierarchy( [params[:controller].split('/').each { |n| n }, action_name] %>">
    <%= yield %>
</div>
